@import "./partials/variables";
@import "./partials/animations";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Anybody", sans-serif;
    background-color: #FFFFFF;
}

[class^="container"] {
    min-height: 40px;
}

/* UTILS */
ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
}

/* IMG */

.img-none {
    display: none;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}