 // Colors
 $white: #FFFFFF;
 $black: #000000;

 $red: #E63036;
 $grey: #F4F4F4;
 $l-green: #E2F1E8;
 $l-pink: #F1DADA;
 $l-yellow: #F1F1E2;
 $l-cyan: #E2F0F1;

 // 
 .bg-red {
     background-color: $red;
 }

 .bg-grey {
     background-color: $grey;
 }

 .bg-l-green {
     background-color: $l-green;
 }

 .bg-l-pink {
     background-color: $l-pink;
 }

 .bg-l-yellow {
     background-color: $l-yellow;
 }

 .bg-l-cyan {
     background-color: $l-cyan;
 }